:root {
    --background-color1:#F6623E;
    --color1: #454545;
    --color2: #F6623E;
    --color3: #828181;
    --border1: 1px solid #F6623E;
}
body {
    font-family: Jost;
    font-size: 16px;
}
.profile {
    background: var(--background-color1);
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.porifile p {
    font-weight: 400;
    line-height: 20px;
}
.navbar input[type=submit] {
    background: url(../img/search.png) no-repeat;
    background-size: cover;
    border: none;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.navbar a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.reklama {
    background-image: url('../img/back.png');
    /* background-position-left: -200px; */
    height: 671px;
    background-size: cover;
}
.reklama >.container{
    height: 671px;
}
.reklama .itd_p{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: 600px;
}
.reklama .itd_p h4 {
    color: var(--color2);
    font-weight: 600;
    font-size: 26px;
    line-height: 42px;
}
.reklama .itd_p h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;   
}
.reklama .itd_p p {
    font-weight: 400;
    line-height: 29px;
}
.reklama .itd_p .itd_btn {
    background-color: var(--background-color1);
    color: white;
    width: 140px;
} 
.deal {
    margin:50px 0;
}
.line {
    width: 127px;
    height: 4px;
    background-color: var(--color2);
    margin: 15px auto 30px;
}
.deal .top {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deal .top p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    max-width: 759px;
}
.deal .col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.deal img {
    height: 395px;
}
.deal h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.services {
    margin: 100px 0;
}
.services h4{
    margin-top: 20px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}
.services p {
    color: var(--color3);
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}
.cotrol .left {
    padding-left: 50px;
    background-color: #FFF8F6;
}
.cotrol h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    font-family: Jost;
    letter-spacing: 3px;
    text-align: left;
}
.cotrol p{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: var(--color1);
}
.cotrol button {
    border: 2px solid #F6623E;
    max-width: 245px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
}
.arrials {
    margin: 100px 0;
}
.arrials h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 50px;
}
.arrials img {
    max-height: 408px;
}
.arrials h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
}
.arrials p {
    color: var(--color2);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 10px;
}
.arrials .p_zach {
    color: #828181;
    margin-left: 10px;
    margin-right: 0;
}
.arrials button {
    margin-top: 50px;
    border: 2px solid #F6623E;
    max-width: 254px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
    padding: 10px 45px;
}
.result {
    background-color: #FEF0E7;
    padding: 50px 0;
}
.result h4 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}
.result h2 {
    font-size: 30px;
    line-height: 25px;
    font-weight: 500;
    color: var(--color2);
    margin-bottom: 20px;
}
.result h5 {
    font-size: 26px;
    line-height: 44px;
    font-weight: 500;
    margin: 20px 0;
}
.result p {
    line-height: 20px;
    font-weight: 600;
    color: var(--color2);
    margin-bottom: 40px;
} 
.shops {
    margin: 100px 0;
}
.shops h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 50px;
}
.shops img {
    max-height: 408px;
}
.shops h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
}
.shops p {
    color: var(--color2);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 10px;
}
.shops .p_zach {
    color: #828181;
    margin-left: 10px;
    margin-right: 0;
}
.shops button {
    margin-top: 50px;
    border: 2px solid #F6623E;
    max-width: 254px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
    padding: 10px 45px;
}
.news h1 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
}
.news h5 {
    margin: 20px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color2);
}
.news h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
}
.news p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--color3);
}
.news button{
    border: none;
    background: var(--background-color1);
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 13px 25px;
}
.collage {
    margin: 100px 0;
}
.collage h1 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
}
.collage img {
    /* height: 318px; */
}
